<div class="col">
  <%= link_to elf_path(elf), class: "text-decoration-none text-black" do %>
    <div class="card-product">
    <% if elf.photo.attached? %>
      <%= cl_image_tag elf.photo.key %>
    <% else %>
      <img src="https://i.imgur.com/6rqxweJ.png">
    <% end %>
      <div class="card-product-infos w-100">
        <div class="d-flex justify-content-between">
          <div>
            <h2> <%= elf.name %></h2>
            <p><%= truncate(elf.description, length: 30, separator: ' ')%></p>
          </div>
          <div>
            <p><%= elf.age %> ans</p>
            <p><%= elf.daily_price %>€/Jour</p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
