<div class="banner mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('banner-image.jpg') %>);">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8 my-3">
        <h1>Trouvez <strong>l'elf</strong> qui vous correspond !</h1>
        <p>Besoin d'aide dans votre vie quotidienne ? </p>


        <%= form_with url: elves_path, method: :get, class: "d-flex" do %>
 <%# NEW CODEEEEEEEE %>
<div class="input-group">
          <%= text_field_tag :query,
                params[:query],
                class: "form-control rounded-start-5",
                placeholder: "Trouver mon elf"
              %>


         <div class="dropdown">

  <%# NEW CODEEEEEEEE %>
  <button class="btn btn-light dropdown-toggle h-100 rounded-start-0 rounded-end-5" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="true">
    Catégorie
  </button>
  <ul class="dropdown-menu p-3" aria-labelledby="dropdownMenuButton1">
    <% @categories.each do |category| %>
      <%= check_box_tag 'categories[]', category, params[:categories]&.include?(category) %>
      <%= label_tag "categories_#{category}", category %> <br>
      <% end %>
    <%# <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li> %>
  </ul>
</div>
</div>

          <%= submit_tag "Rechercher", name: "", class: "btn-flat ms-4 border-0" %>
          <% end %>
        </div>
      </div>
  </div>
</div>


<div class="container px-5">
  <div class="row row-cols-3 g-4">
    <% if @elves.any? %>
      <%= render @elves %>
    <% else %>
      <em>Sorry, no elves found.</em>
    <% end %>
    <div style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
