<div class="container-show-elf">
  <div class="content-show-elf">
    <h1> <%= @elf.name %> </h1>
    <%= cl_image_tag @elf.photo.key, class: "img-show"%>
    <i class="fa-solid fa-input-numeric"><%= @elf.age %> ans</i>
    <p><%= @elf.category %></p>
    <%= @elf.description %>
    <div class="navigation">
<%= link_to "Retour", root_path, class: "btn btn-flat" %>
<%= link_to "Modifier mon elf", edit_elf_path(@elf), class: "btn btn-flat" %>
    </div>
  </div>

  <div class="formulaire">
    <p><%= @elf.daily_price %> € par jour</p>
    <div data-controller="dynamic-booking-price" data-dynamic-booking-price-price-value="<%= @elf.daily_price %>">
      <%= simple_form_for [@elf, @booking], html: { data: { action: 'change->dynamic-booking-price#updatePrice' }} do |f| %>
        <%= f.input :start_date, as: :string, input_html: {
          data: {
            controller: "datepicker",
            datepicker_dates_value: @elf.flatpickr_booked_dates,
            dynamic_booking_price_target: 'startDateInput',
          }
        } %>

        <%= f.input :end_date, as: :string, input_html: {
          data: {
            controller: "datepicker",
            datepicker_dates_value: @elf.flatpickr_booked_dates,
            dynamic_booking_price_target: 'endDateInput',
          }
        } %>

        <p>
          Prix total: <span data-dynamic-booking-price-target="priceHolder"><%= @elf.daily_price %></span> €
        </p>
        <%= f.submit "Réserver", class: "btn btn-flat" %>
      <% end %>
      </br>
    </div>
  </div>
</div>
