<div class="container-show-elf">
  <div class="content-show-elf">
    <h1> <%= @elf.name %> </h1>
    <%= cl_image_tag @elf.photo.key, class: "img-show"%>
    <i class="fa-solid fa-input-numeric"><%= @elf.age %> ans</i>
    <p><%= @elf.category %></p>
    <%= @elf.description %>
    <div class="navigation">
<%= link_to "Retour", root_path, class: "btn btn-flat" %>
<%= link_to "Modifier mon elf", edit_elf_path(@elf), class: "btn btn-flat" %>
<%= link_to "Delete", elf_path(@elf), class: "btn btn-flat", data: { turbo_method: :delete, confirm: "Are you sure?" } %>

    </div>
  </div>

  <div class="formulaire">
    <p><%= @elf.daily_price %> € par jour</p>
    <div data-controller="dynamic-booking-price" data-dynamic-booking-price-price-value="<%= @elf.daily_price %>">
      <%= simple_form_for [@elf, @booking], html: { data: { action: 'change->dynamic-booking-price#updatePrice' }} do |f| %>
        <%= f.input :start_date, label: "Date de début:", as: :string, input_html: {
          data: {
            controller: "datepicker",
            datepicker_dates_value: @elf.flatpickr_booked_dates,
            dynamic_booking_price_target: 'startDateInput',
          }
        } %>

        <%= f.input :end_date, label: "Date de fin:", as: :string, input_html: {
          data: {
            controller: "datepicker",
            datepicker_dates_value: @elf.flatpickr_booked_dates,
            dynamic_booking_price_target: 'endDateInput',
          }
        } %>

        <p>
          Prix total: <span data-dynamic-booking-price-target="priceHolder"><%= @elf.daily_price %></span> €
        </p>
        <%= f.submit "Réserver", class: "btn btn-flat" %>
      <% end %>

      </br>
    </div>
  </div>
</div>

  <div class="container-reviews" id="reviews">
    <div class="reviews-form">
      <%= simple_form_for [@elf, @review], url: elf_reviews_path(@elf) do |form| %>
        <%= form.input :rating, label: "Note sur 5:"%>
        <%= form.input :comment, label: "Commentaire:" %>
        <%= form.submit "Poster un commentaire", class: "btn btn-flat" %>
      <% end %>
    </div>
    <div class="reviews-comment border-start border-1 border-secondary">
      <h4>Commentaires:</h3>
      <% @reviews.each do |review| %>
        <div class="review-comment border-bottom border-1 border-secondary mt-3">
          <strong><%= current_user.first_name%> </strong> a commenté le <%= review.created_at.strftime("%d/%m/%Y")%>
          <p><%= review.rating %>/5 -
          <%= review.comment %></p>
          </p>
        </div>
      <% end %>
    </div>
  </div>
