<h1>Elves#show</h1>
    <h2> <%= @elf.name %> </h2>
 <ul>
    <li> <%= @elf.age %> ans </li>
    <li> <%= @elf.category %> </li>
    <li> <%= @elf.daily_price %> € </li>
    <li> <%= @elf.description %> </li>
  </ul>

  <%= link_to "Retour", root_path, class: "btn btn-flat" %>
  <%= link_to "Réserver", new_elf_booking_path(@elf), class: "btn btn-flat" %>
  <%= link_to "Modifier mon elf", edit_elf_path(@elf), class: "btn btn-flat" %>
