<h1>Elves#show</h1>
    <h2> <%= @elf.name %> </h2>
 <ul>
    <li> <%= @elf.age %> ans </li>
    <li> <%= @elf.category %> </li>
    <li> <%= @elf.daily_price %> € </li>
    <li> <%= @elf.description %> </li>
  </ul>
  <%= link_to "Retour", root_path %>
  <%= link_to "Réserver", new_elf_booking_path(@elf) %>
