<!DOCTYPE html>
<html>
  <head>
    <title>Elfynb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

  </head>


  <body style = "background: linear-gradient(90deg, rgba(244,244,244,1) 0%, rgba(104,154,157,0.20780812324929976) 50%, rgba(244,244,244,1) 100%); display: grid; grid-template-rows: auto 1fr auto; min-height: 100vh;" >
    <%= render "shared/navbar" %>
    <%= yield %>

    <%# <p class="notice"><%= notice %>
    <%# <p class="alert"><%= alert %>
    <%= render "shared/footer" %>
  </body>
</html>
